body a { 
	color: #363636;
	-webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

body a:hover { 
	color: #ed1c24; text-decoration: none;
}

.content-detail-news .detail-title {
	margin-top: 0;
	font-size: 20px;
	font-weight: bold;
	color: #464646;
}

.content-detail-news .gr-social {
	margin: 20px 0;
}

.content-detail-news small { 
	padding: 15px;
	display: block;
}

#wrapper button,
#wrapper input { border-radius: 0;}

.font16 { font-size: 16px!important;}

.common-title {
	color: #ffff00;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
  	padding: 12px 0px 11px 10px;
	background-color: #464646;
}

.text-bold { font-weight: bold;}

.inred { color: #ed1c24;}

.inyellow { background-color: #ffff00;}

.nopadding {
	padding-right: 0!important;
	padding-left: 0!important;
}

#header {
	margin-top: 30px;
}

#logo {	margin-top: 0;}

.socials  { margin-top: 15px;}

.socials a {
  margin-right: 6px;
  display: inline-block;
  *display: inline;
  float: left;
}

.tags { margin: 35px 0 0 0;}

.phone img { 
	float: left;
	margin: 0 0 0 25px;
}

.shop { 
	float: right;
}

#header .shop p {
	margin: 0 0 5px;
}

#header .btn-compare {
	margin-top: 18px;
}

#fanPage {
	margin-top: -15px;
}

#mainNav {
	margin-top: 20px;	
	margin-bottom: 10px;
}

#contentNav { 
	padding-left: 0;
	border-bottom: 4px solid #464646;
}

#contentNav .dropdown  > a,
#contentNav a.contact,
#contentNav .navbar-brand {
	color: #423f3a;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 4px solid #464646;
	margin-bottom: -4px;
}

#contentNav .nav > li:hover .dropdown-menu {
	display: block;
	border-left: 1px solid #464646;
	border-right: 1px solid #464646;
	border-bottom: 1px solid #464646;
	top: 48px;
}

#contentNav .dropdown-menu {
	padding: 0;
	border-radius: 0;
}

#contentNav .tab-content {
	padding: 10px 0 0 0;
}

.list-content.not-toy {
	padding: 10px 15px 10px 10px;
}

.list-content.not-toy .list-item li {
	position: relative;
	padding-left: 15px;
}

.list-content.not-toy .list-item li:after {
	content: "";
	height: 5px;
	width: 5px;
	border: 1px solid #ccc;
	position: absolute;
	left: 0;
	top: 8px;
}

.list-content.not-toy .list-item li:hover .badge {
	opacity: 1;
}

.list-content.not-toy .badge {
	font-size: 10px;
	opacity: 0;
}

.list-item li {
	padding-bottom: 5px;
}

.list-content .nav > li > a {
	padding: 10px 15px 10px 10px!important;
}

.list-item li a,
.text-header {
	font-size: 13px;
}

#contentNav .nav-tabs { border: none;}

#contentNav .list-item li a:hover {
	border: none;
}

#contentNav .nav-tabs > li:hover { 
	cursor: pointer;
	color: #ed1c24;
}

#contentNav .nav-tabs > li { 
	clear: both;
	width: 100%;
	position: relative;
}
#contentNav .nav-tabs > li:after {
	content: "";
	width: 0px;
	height: 0px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #fff;
	position: absolute;
	right: 0;
	top: 12px;
}

#contentNav .nav-tabs > li.active > a, 
#contentNav .nav-tabs > li.active > a:hover, 
#contentNav .nav-tabs > li.active > a:focus {
	border: none;
  	cursor: pointer;
  	/*color: #ed1c24;*/
  	background-color: #DDD;
  	border-radius: 0;
}

.text-header { padding-top: 10px;}

.navbar-brand {
	text-indent: -9999px;
	background: url(../images/home-bg.png) no-repeat 0px 8px;
}

.navbar-brand:hover {
	background: url(../images/home-bg.png) no-repeat 0px -35px;
	-webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

#contentNav li a:hover,
.navbar-brand:hover,
#contentNav a.contact:hover,
#contentNav .nav-active > a{
	border-bottom: 4px solid #ed1c24;
	background-color: transparent;
}

#header .btn.btn-default {
	background: #464646;
}

#header span.glyphicon-search {
	color: #fff;
}

.navbar-nav li { list-style: none;}

.navbar-nav > li.dropdown {
	position: static;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#productShow {
	position: relative;
}

#productShow .slick-prev {
	position: absolute;
	top: 50%;
	left: 15px;
	background: url(../images/arrows-left-banner.png) no-repeat 0 0;
	height: 50px;
	width: 50px;
	text-indent: -9999px;
	margin-top: -25px;
}

#productShow .slick-next {
	position: absolute;
	top: 50%;
	right: 15px;	
	background: url(../images/arrows-right-banner.png) no-repeat 0 0;
	height: 50px;
	width: 50px;
	text-indent: -9999px;
	margin-top: -25px;
}

#productShow .slick-prev:hover{
	background: url(../images/arrows-left-active.png) no-repeat 0 0;
}

#productShow .slick-next:hover{
	background: url(../images/arrows-right-active.png) no-repeat 0 0;
}

#productShow .slick-dots {
	bottom: 10px;
}

#productShow .slick-dots button { 
	background: #abacae; 
	height: 10px;
	width: 10px;
	border-radius: 50% 50% 50% 50%;
}

#productShow .slick-dots button:hover,
#productShow .slick-active button {
	background: #ffff00; 
}

.headBar a,
.sm-headBar a {
	line-height: 40px;
	font-size: 12px;
}

.media-heading { font-size: 14px;}

.box-news {
	border-top: 1px dashed #c6c6c6;
  	padding-top: 10px;
}

#relatedNews .media-left a {
	display: block;
	width: 64px;
	height: 64px;
}

#relatedNews .media-left img {
	border: 1px solid #d9d9d9;
}

#relatedNews {
	margin: 20px 0;
}

#relatedNews .box-news {
	border-bottom: 1px dashed #c6c6c6;
	border-top: none;
	padding-bottom: 20px;
}

#relatedNews .box-news:nth-child(3) {
	border-bottom: none;
}

#relatedNews h4.media-heading {
	width: 	390px;
}
.box-news h4.media-heading {
	width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

#boxNews .slick-list {
  	padding-bottom: 10px;
}

#boxNews .slick-prev,
#boxNews .slick-next {
	position: absolute;
	bottom: -9px;
	top: auto;
	color: #000;
	height: 20px;
	width: 20px;
}

#boxNews .slick-prev {
	left: 50%;
	margin-left: 3px;
}

#boxNews .slick-next { 
	right: 50%;
	margin-right: 3px;
}

#boxNews .slick-prev,
.tabs-toy .slick-prev {
	background: #fff url(../images/arleft-news.png) no-repeat 0 0;		
}

#boxNews .slick-next,
.tabs-toy .slick-next {
	background: #fff url(../images/arright-news.png) no-repeat 0 0;	
}

#boxNews .slick-prev:hover,
.tabs-toy .slick-prev:hover {
	background: #fff url(../images/arleft-news-hover.png) no-repeat 0 0;	
}

#boxNews .slick-next:hover,
.tabs-toy .slick-next:hover {
	background: #fff url(../images/arright-news-hover.png) no-repeat 0 0;	
}

.prom-news {
	margin: 20px 0 0 0;
	padding: 0 0 0 5px;
}

.prom-news li {
	list-style: none;
	background: url(../images/ic-news.png) no-repeat left 3px;
	padding: 0 0 10px 20px;
}

.prom-news li a { font-size: 13px;}

.dot {
  	white-space: nowrap;
  	display: block;
  	text-overflow: ellipsis;
  	overflow: hidden;
}

#featureProducts {
	margin-top: 20px;
}

#featureProducts .desc {
	background-color: #fbfa2b;
	opacity: 0.7;
    filter: Alpha(opacity=70); /* IE8 and earlier */
    padding: 15px 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.eachProd a {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	display: inline-block;
}

.mgt20 { margin-top: 20px;}

.mgt30 { margin-top: 30px;}

.arrow-brd {
	width: 0px;
  	height: 0px;
  	border-top: 40px solid transparent;
  	border-left: 40px solid #464646;
  	float: left;
}

.headBar {
	border-bottom: 2px solid #464646;
}

#latestPhone,
#latestTablet,
#SaleProducts,
#toyProducts,
#videoProduct { margin-top: 10px;}

#videoProduct { margin-bottom: 30px;}
.thumb-prod {
	border: 1px solid #ececec;
	display: block;
  	padding: 10px 0;
  	text-align: center;
}

.detail-common .desc-prod {
	opacity: 0;
	position: absolute;
	top: 0;
}

.detail-common:hover .desc-prod {
	opacity: 1;
	background: rgba(0,0,0,0.5);
}

#SaleProducts .sale-prod,
.detail-common .sale-prod {
	background: #ffff00;
	border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	border: 2px solid #fac617;
	height: 40px;
	width: 40px;
	font-size: 11px;
	font-weight: bold;
	color: #363636;
	padding-top: 10px;
}

.detail-common label.sndlbl {
	top: 10px;
	right: 0;
	left: auto;
}

.detail-common label.thirdlbl {
	bottom: 10px;
	left: 0px;
	top: auto;
}

.detail-common label.lastlbl {
	bottom: 10px;
	right: 0;
	left: auto;
	top: auto;
}


.detail-common label {
	position: absolute;
	left: 0px;
	top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	padding: 5px;
	color: #fff;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.hot-prod {
	background-color: #e73629;
}

.promo-prod {
	background-color: #e4397e;	
}

.new-prod {
	background-color: #f26522;
}

.coming-prod {
	background-color: #00aeef;
	text-transform: inherit!important;
}

.detail-prod {
	padding: 15px 0;
	display: block;
	font-size: 15px;
}

.detail-pro .name-prod {
	font-size: 15px;
	color: #252525;
	text-transform: capitalize;
}


.detail-prod span {
	display: block;
}

.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
   position: relative;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 15px;
}

.col-xs-20 {
   width: 20%;
   float: left;
}

.reveal .hidden { 
	display: block !important; 
	visibility: visible !important; 
}

.reveal { 
	position: relative;
	border: 1px solid #ececec;
	padding: 10px 0;
	text-align: center;
	overflow: hidden;
}

.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;  
}

.reveal:hover .hidden { 
  z-index: 100000;
  opacity: 1;    
}

.reveal:hover label { opacity: 0;}

.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffff00; /* fallback for IE8 */
  opacity: 0.7;
  filter: Alpha(opacity=70); /* IE8 and earlier */
  text-rendering: optimizeLegibility;
}

.reveal .hidden .caption .centered {
  text-align: left;
  padding: 20px;
  color: #000;
}

.desc-title {
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	background: url(../images/ic-cake.png) no-repeat 0 0;
	padding-left: 25px;
	padding-bottom: 10px;
	margin-top: 0;
	font-weight: bold;
	border-bottom: 1px solid #363636;	
}

.caption p {
	font-size: 12px;
	margin: 0 0 20px;
}

.small-video > div {
	margin: 0 0 10px 0;
}

.video-item,
.smvideo {
	position: relative;
}

.video-item:after {
	content: "";
	height: 68px;
	width: 68px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -25px;
	margin-left: -25px;
	background: url(../images/play-hover.png) no-repeat 0 0;
}

.smvideo:after {
	content: "";
	height: 43px;
	width: 43px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -21px;
	margin-left: -21px;
	background: url(../images/icsmall-video.png) no-repeat 0 0;	
}

#footer {
	background: #f2f2f2;
	padding-top: 30px;
	font-size: 13px;
}

#footer .box-neo span.glyphicon {
	font-size: inherit;
}

#footer span.glyphicon { font-size: 10px;}

.common-social {
	text-indent: -9999px;
	display: block;
	width: 40px;
	height: 40px;
	margin: 10px 10px 0 0;
	float: left;
	display: inline-block;
	*display: inline;
}

.box-footer {
	padding: 25px 20px;
	margin: 20px 0;
	font-size: 14px;
	background-color: #fafa61;
	border-top: 2px solid #ffd925;
	border-bottom: 2px solid #ffd925;
}

.box-neo {
	max-width: 300px;
	margin: 20px auto 0;
	font-size: 14px;
}

.box-neo label {
	font-weight: normal;
	padding: 5px 20px 0 0;
}

.positionU button,
.positionU button:hover,
.positionU button:focus,
.positionU button:active {	
   	background: none;
    border-bottom: 2px solid #666666;
  	border-left: none;
	border-right: none;
	border-top: transparent;
	box-shadow: none;
	border-radius: 0;
	font-size: 14px;
}

.email-news input {
	border: 1px solid #f8c516;
	margin-top: 20px;
	padding: 10px 12px;
	height: auto;
}

.email-news { position: relative;}

.email-news:after { 
	content: "";
	background: url(../images/btn-regis.png) no-repeat 0 0;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 7px;
	right: 10px;
}

.positionU .dropdown-menu {
	border-radius: 0;
}

.ic-fb {
	background: url(../images/ft-facebook.png) no-repeat 0 0;
}

.ic-twitter {
	background: url(../images/ft-twitter.png) no-repeat 0 0;
}
.ic-gplus {
	background: url(../images/ft-gplus.png) no-repeat 0 0;
}
.ic-youtube {
	background: url(../images/ft-youtube.png) no-repeat 0 0;
}

.ic-fb:hover {
	background: url(../images/ft-facebook-act.png) no-repeat 0 0;
}

.ic-twitter:hover {
	background: url(../images/ft-twitter-act.png) no-repeat 0 0;
}
.ic-gplus:hover {
	background: url(../images/ft-gplus-act.png) no-repeat 0 0;
}
.ic-youtube:hover {
	background: url(../images/ft-youtube-act.png) no-repeat 0 0;
}

#footer strong {
	font-size: 14px;
}
.btn-qualify {
	display: block;
	margin-bottom: 10px;
}

.pay img {
	float: left;
	display: inline-block;
	margin: 10px 10px 0 0;
}

#navFooter {
	border-top: 1px solid #666666;
	text-align: center;
	list-style: none;
	padding-top: 15px;
	padding-left: 0;
}

#navFooter li { 
	display: inline;
	margin: 0 20px 0 0;	
}

#navFooter li a { 
	display: inline-block;
	font-size: 12px;
	color: #363636;
	font-weight: bold;
	text-transform: uppercase;
}

#navFooter li a:hover {
	color: #ed1c24;
}

.content-footer {
	border-bottom: 3px solid #ffff00;
}

.last-box { 
	background-color: #464646;
	padding: 20px 0 10px 0;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	position: relative;
}

#scrollTop {
	position: fixed;
	right: 20px;
	bottom: 60px;
	display: none;
}

#scrollTop a {
	background: url(../images/backtop.png) no-repeat 0 0;
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
}

#scrollTop a:hover {
	background: url(../images/backtop-hover.png) no-repeat 0 0;
}

.nav.nav-tabs li .fa { 
	font-size: 15px;
	width: 25px;
}

.slicknav_menu {
	display:none;
}

.btn-compare { float: right;}

.blank-prev {
	border-bottom: 1px solid #ccc;
  	width: 48%;
  	float: right;
}

.blank-next {
	width: 48%;
  	border-bottom: 1px solid #ccc;
  	float: left;
}

.sm-headBar {
	border-bottom: 2px solid #464646;
}

.sm-headBar .common-title {
	  color: #ffff00;
	  font-weight: bold;
	  font-size: 14px;
	  margin: 0;
	  padding: 12px 0px 11px 10px;
	  background-color: #464646;
	  text-transform: inherit;
	  height: 40px;
}

#wrapProduct {
	padding: 20px 0;
}

.common-form label { margin-right: 5px;}

.common-form a.btn {
	margin-left: 10px;
}

.common-form a:hover,
.common-form a:active {
	background-color: #ffe953;	
}

.sort-form {
	text-align: right;
}

.pad15 { padding: 15px;}

.mgtb20 { margin: 20px 0;}

.intro-prod {
	border: 1px dashed #c9c9c9;
	margin-top: 0;
}

.intro-prod .media-middle { padding-right: 20px;}

.intro-prod img { display: block; min-width: 200px;}

#wrapProduct button { border-radius: 5px 5px 5px 5px;}

#listProd {
	margin-top: 20px;
	margin-bottom: 20px;
}

#crumbs ul {
	list-style: none;
	display: inline-table;
  	margin: 20px 0;
  	padding: 0;
}
#crumbs ul li {
	display: inline;
}

#crumbs ul li a {
	display: block;
	float: left;
	height: 30px;
	background: #DBDBDB;
	text-align: center;
	padding: 6px 10px 0 20px;
	position: relative;
	margin: 0 5px 0 0; 
	font-size: 12px;
	text-decoration: none;
}
#crumbs ul li a:after {
	content: "";  
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #DBDBDB;
	position: absolute; right: -15px; top: 0;
	z-index: 1;
}

#crumbs ul li a:before {
	content: "";  
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
	position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child a:before {
	display: none; 
}

#crumbs ul li a:hover:after,
#crumbs ul li a.active:after {
	border-left-color: #DBDBDB;
}

#crumbs ul li a.active { color: #ed1c24;}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  height: 10px;
  margin: 0;
  border: 1px solid #ccc;
  padding: 1px 2px;
  margin-top: 15px;
  border-radius: 14px!important;
  background: #fff;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50% 50% 50% 50%;
  background: #fff;
  border: 2px solid #efb70a;
}

.filter-prod {
	border: 1px solid #ccc;
	margin: 20px 0;
	padding: 0 15px;
}

.title-sidebar {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.filter-prod .checkbox { padding-bottom: 10px;}

.filter-prod .checkbox > label {
	display: block;
	padding-bottom: 10px;
	padding-left: 30px;
}

.filter-prod .checkOs {
	border-bottom: 1px solid #ccc;
}

.advert a {
	display: block;
	margin-bottom: 20px;
}

#sync1 {
	position: relative;
}

#sync1 .owl-prev {
	position: absolute;
	left: 10px;
	top: 50%;
	background: url(../images/ic-prev.png) no-repeat 0 0;
	text-indent: -9999px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
}

#sync1 .owl-next {
	position: absolute;
	right: 10px;
	top: 50%;
	background: url(../images/ic-next.png) no-repeat 0 0;
	text-indent: -9999px;
	height: 30px;
	width: 30px;
	margin-top: -15px;
}

#sync2 .item {
  margin: 0 5px 0 0;
  cursor: pointer;
}

#sync2 .synced .item {
 	opacity: 0.7;
}

#sync2 .owl-item {    
    cursor: pointer;
    margin: 20px 0;
}

.gr-social .inline {
	display: inline-block;
	float: left;
	margin: 0 10px 0 0;
}

.name-prod h1 {
	font-size: 22px;
	margin-top: 0;
}

.stt-prod span {
	margin-right: 5px;
}

.name-prod h3 { font-size: 15px;}

.name-prod h3 span { font-size: 22px;}

.stt-prod .btn-span {
	border: 1px solid #fff;
	margin: 1px;
	background-color: #252525;
	color: #fff;
}

.stt-prod button { 
	border-radius: 5px 5px 5px 5px!important;
	-webkit-border-radius: 5px 5px 5px 5px!important;
	-moz-border-radius: 5px 5px 5px 5px!important;
	margin-top: 20px;
}

.right-detail small {
	display: block;
}

.font14 { font-size: 14px;}
.font13 { font-size: 13px;}

.btn-gray {
	background-color: #ebebeb;
}

.btn-yellow { 
	background-color: #ffff00;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid #e0e001;
	font-weight: bold;
	margin: 20px 0 5px;
}
.right-detail .btn-success { 
	background-color: #39bf78;
	font-weight: bold;
	color: #fff;
	font-size: 12px;
}

.charge {
	margin: 30px 0;
}

.lscustomer {
	padding: 0;
	margin: 20px 0;
}

.lscustomer li { 
	list-style: none;
	padding-bottom: 10px;
}

.lscustomer li i { font-size: 20px;}

.list-gift {
	font-size: 13px;
	padding: 20px 0 15px 15px;
	border: 1px solid #ebebeb;
}

.list-gift li {
	list-style: none;
	padding: 0 0 10px 0;
}

.page-header {
	border-bottom: 2px solid #898989;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px 0;
}


.info-product .dl-horizontal { font-size: 13px;}

.info-product .dl-horizontal dt {
	text-align: left;
}

.info-product .dl-horizontal dd { padding-bottom: 15px;}

.detail-tab {
	border-bottom: 2px solid #898989;
}


.detail-tab > li { margin-bottom: -2px;}

.detail-tab li.active,
.detail-tab > li:hover { border-bottom: 2px solid #e7b300;}

.detail-tab > li:hover a { color: #e7b300;}

.detail-tab li.active a {
	border: none!important;
	color: #e7b300!important;
}

.detail-tab > li > a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.wrap-content-detail .tab-pane{
	padding: 20px 0;
}

h6.horse-title {
	position: relative;
	margin-top: 20px;
	margin-top: 0;
	text-align: center;
}

h6.horse-title:before {
	content: "";
	display: block;
	border-top: solid 1px #e1e1e1;
	width: 35%;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
}

h6.horse-title:after {
	content: "";
	display: block;
	border-top: solid 1px #e1e1e1;
	width: 35%;
	height: 1px;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
}

h6.horse-title span {
	background-color: #fff;
	padding: 10px 30px;
	margin: 0 20px;
	position: relative;
	font-weight: bold;
	z-index: 5;
	border: 2px solid #edd633;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

h6.horse-title span:hover { 
	cursor: pointer;
	background-color: #e1e1e1;
}

.wrap-title {
	margin: 30px 0;
}

.box-comment textarea {
	margin: 20px 0;
}

.btn-comment {
	background-color: #707070;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.comment-media .media {
	border-top: 1px solid #e7e6e6;
	border-bottom: 1px solid #e7e6e6;	
	padding: 20px 0;
	margin: 20px 0 0;
}

.comment-media  { margin-top: 20px; }

.comment-media .media-left a {
	display: block;
	width: 64px;
	height: 64px;
}

.comment-media .media-heading {
	font-size: 12px;
	font-weight: bold;
}

.comment-media .media-body { color: #747474; font-size: 13px;}

.nav-comment li a {
	color: #252525;
	font-size: 14px;
	margin-left: 7px;
	padding: 4px 12px;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}
.nav-comment li a:hover {
	background: #ffff00;
	color: #252525;
}

.tags-item {
	clear: both;
	padding: 15px 0 10px 0;
}

.tags-item a {
	background-color: #fff;
	border: 1px solid #252525;
	color: #252525;
	padding: 4px 10px;
	font-weight: normal;
	margin-left: 5px;
	display: inline-block;
}

.tags-item a:hover {
	background-color: #ffff00;
	color: #252525;
}

.tabs-toy .item { font-size: 13px;}

.tabs-toy a.item img {
	padding: 15px;
	/*border: 1px solid #ebebeb;*/
}

.prod-slider-tab { 
	padding: 0;
	border-bottom: 2px solid #464646;
	color: #fff;
	font-weight: bold;
}

.prod-slider-tab li { 
	list-style: none;
	display: inline-block;
	position: relative;
	padding: 10px 10px 10px 20px;
	background-color: #acacac;	
}

.prod-slider-tab li:last-child {
	padding: 10px 10px 10px 40px;
	margin-left: -3px;
}

.prod-slider-tab li:last-child:after { 
	content: "";	
	border-top: 40px solid transparent;
    border-left: 40px solid #acacac;
    position: absolute;
    right: -40px;
    z-index: 10;
    top: 0;
    width: 0px;
    height: 0px;
}

.prod-slider-tab li:first-child:after {
	content: "";	
	border-top: 40px solid transparent;
    border-left: 40px solid #acacac;
    position: absolute;
    right: -40px;
    z-index: 10;
    top: 0;
    width: 0px;
    height: 0px;	
}

.prod-slider-tab li.active:after {
	content: "";	
	border-top: 40px solid transparent;
    border-left: 40px solid #464646;
    position: absolute;
    right: -40px;
    z-index: 10;
    top: 0;
    width: 0px;
    height: 0px;	
}

.prod-slider-tab li.active { 
	background-color: #464646;
}

.prod-slider-tab li.active a {
	color: #ffff00;
	font-size: 14px;
}

.prod-slider-tab li a { text-decoration: none;}

#phukientuongthich .slick-slide,
#spcunggia .slick-slide { width: 230px;}

.tabs-toy a.item img { margin: 0 auto;}

.tabs-toy .slick-prev {
	position: absolute;
	top: auto;
	bottom: -30px;
	left: 47%;
	margin-left: -10px;
}

.tabs-toy .blank-next,
.tabs-toy .blank-prev {
	width: 47%;
	margin-top: 20px;
}

.tabs-toy .slick-next {
	position: absolute;
	top: auto;
	bottom: -30px;
	right: 47%;
	margin-right: -10px;
}

.viewall {
	padding-top: 10px;
}

#formSearchPament button {
	border-left: none;
}

#formSearchPament {
	padding: 0 0 20px 0;
}

.brd-img { border: 1px solid #ebebeb; padding: 20px;}

.title-pay {
	background-color: #555;
	position: relative;
	padding: 6px 0;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
}

.title-pay:before {
	content: "1";
	position: absolute;
	left: -20px;
	top: -2px;
	height: 40px;
	width: 40px;
	background-color: #ffff00;
	border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
	border: 2px solid #e7b300;
	text-align: center;
	vertical-align: middle;
	padding-top: 8px;
	font-weight: bold;
}

.title-pay label {
	font-size: 13px;
	color: #fff;
	margin-left: 30px;
	margin-bottom: 0;
	padding-top: 2px;
}

.title-pay span {
	color: #ffff00;
	font-size: 12px;
	border: 1px solid #ffff00;
	padding: 2px 20px;
	margin-left: 20px;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
}

.title-pay label, 
.title-pay span {
	float: left;
	display: inline-block;
	font-weight: bold;
}

.choose-price {
	padding: 20px 0;
	font-size: 13px;
}

.choose-price li a,
.choose-price button { font-size: 13px;}

.tbl-payment th {
	background-color: #ebebeb;
	font-size: 14px;
	font-weight: bold;
}

.tbl-payment td { text-align: center; font-size: 14px;}

.tbl-payment .advanced { 
	text-align: left;
	padding: 20px;
}

.tbl-payment .advanced ul li,
.lf-boxnews ul li { position: relative; padding-left: 10px;}

.tbl-payment .advanced ul li:before,
.lf-boxnews ul li:before { 
	content: "";
	position: absolute;
	left: 0px;
	top: 8px;
	width: 5px;
	height: 5px;
	background-color: #000;
	border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50% 50% 50% 50%;
}

.lf-boxnews ul li:before {
	background-color: #d7d7d7;
	top: 6px;
}

#tblLoan .btn-hy {
	font-weight: bold;
	border: 2px solid #f1ca12;	
	padding: 5px 20px;
	margin: 10px 0;
	float: none;
	display: inline-block;
	background-color: transparent;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px!important;
	-moz-border-radius: 5px 5px 5px 5px!important;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;ration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
#tblLoan .btn-hy:hover { 
	background-color: #ffff00;
}

.title-consult { 
	padding-left: 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.title-consult strong {
	color: #ffff00;
}

.title-consult:before { 
	color: #252525;
	content: "2";
}

.wrap-form-consult .btn-hy,
.process .btn-hy {
	background-color: #ffff00;
	border: 1px solid #959595;
	font-size: 14px;
	color: #363636;
	float: right;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px!important;
	-webkit-border-radius: 5px 5px 5px 5px!important;
	-moz-border-radius: 5px 5px 5px 5px!important;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;ration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.wrap-form-consult .btn-hy:hover,
.process .btn-hy:hover { color: #ed1c24; }

.wrap-form-consult label { font-weight: normal;}

.title-consult em { font-size: 12px;}

.box-attention {
	padding: 20px;
	border: 1px dashed #252525;
}

.box-attention strong {
	display: block;
}

.wrap-form-consult { padding: 30px 0;}

.box-attention p { 
	background: url(../images/ic_thunder.png) no-repeat 0 5px;
	padding-left: 20px;
}

.box-attention span {
	display: block;
	margin-bottom: 10px;	
}

.form-consult em { 
	font-size: 12px;
	display: block;
	white-space: nowrap;
	margin-bottom: 10px;
}

.detail-process { padding: 20px 0;}

.process h3 {
	font-size: 18px;
	border-top: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding: 15px 0;
	color: #ff0000;
	text-align: center;
}


.item-cpr {
	margin-top: 10px;
}

.img-cpr { 
	position: relative;
	padding: 20px;
	border: 1px solid #F1F1F1;
	text-align: center;
	margin: 15px 0;
	min-height: 300px;
}

.img-cpr button {
	position: absolute;
	top: 7px;
	right: 7px; 
	padding: 1px 8px 5px 8px;
	background-color: #555;
	opacity: 1;
}

.img-cpr button i { color: #fff;}

.box-compareprd {
	margin: 30px 0;
}

.common-th { 
	border-top: none!important;
	display: block;
	margin: 10px 0 20px 0;
}

.table-compare td { border-top: none!important;}

.common-th strong {
	border-bottom: 2px solid #252525;
	padding-bottom: 2px;
}

.bg-img-cpr { background: url(../images/ic_img.png) no-repeat center center;}

.process .btn-hy {
	display: inline-block;
	margin: 10px 0;
	float: none;
	padding: 2px 10px;
}

.detail-process p { text-align: justify;}

.lf-boxnews h3 {
	font-weight: bold;
	font-size: 18px;
	padding: 20px 0;
	margin: 0;
}

.lf-boxnews li a {
	font-size: 12px;
	color: #959595;
	display: block;
	margin-bottom: 15px;	
}

.list-news-scroll li {
	padding: 0 0 18px 0;
}

.list-news-scroll li a {
	color: #252525;
	font-size: 12px;
	font-weight: bold;
}

.list-news-scroll li a:hover { color: #ff594d;}

.col-rg-news { 
	overflow-y: scroll; 
	height: 530px;
}

.left-news {
	float: left;
}

.right-news {
	padding-left: 150px;
	position: relative;
}

.left-news img { border: 1px solid #e1e1e1;}

.common-lastest-news { 
	margin-bottom: 20px;
}

.common-lastest-news h4 a {
	font-size: 13px;
	font-weight: bold;
	color: #252525;
}

.common-lastest-news p {
	font-size: 13px;
}

.common-lastest-news a.related-news {
	color: #959595;
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	bottom: 0;
}

.common-lastest-news a.related-news:hover,
.common-lastest-news h4 a:hover,
.common-lastest-news a.related-news:before { color: #ed1c24;}

.common-lastest-news a.related-news:before {
	content: "•";
	width: 4px;
	height: 4px;
	color: #959595;
	padding-right: 5px; 
}

.sp-header {
	background: #eeeeef;
	border-top: 2px solid #ff594d;
	padding: 0 10px;
}

.sp-header h4 {
	float: left;
	font-size: 14px;
	color: #ff594d;
	min-width: 140px;
	font-weight: bold;
}

.sp-header ul { 
	display: inline-block;
	float: left;
	padding: 10px 0 0 0;
}

.sp-header ul li {
	padding: 0 20px 0 0;
	display: inline-block;
}

.sp-header ul li a { font-size: 12px;}

.sp-header ul li:after {
	content: "|";
	padding: 0 0 0 20px;
}

.sp-header ul li:last-child:after {
	content: "";
}

/* Tablet and smaller devices */
@media (max-width: 1024px) {
	.box-news h4.media-heading,
	#relatedNews h4.media-heading { width: 100%;}

	#fanPage { margin-top: 10px;}

	#header .btn-compare { float: left;}

	.shop {
		float: left;
	}
}

@media (max-width: 768px) {
	.common-lastest-news a.related-news { position: static;}
	#contentNav .dropdown > a, 
	#contentNav a.contact, 
	#contentNav .navbar-brand {
		font-size: 13px;
	}

	.img-sale .pull-right { 
		float: left!important;
		margin-top: 20px;
	}
}

@media (max-width: 736px) {
	#productShow .slick-prev,
	#productShow .slick-next {
		background-size: 25px 25px;
		width: 25px;
		height: 25px;
		margin-top: -12px;
	}

	#latestPhone .col-xs-6,
	#toyProducts .col-xs-6 {
		padding-left: 15px;
		padding-right: 15px;
		min-height: 370px;
	}

	#latestTablet .col-xs-6,
	#SaleProducts .col-xs-6 {
		padding-left: 15px;
		padding-right: 15px;
		min-height: 310px;
	}

	.navbar-brand,
	.caret.inred { display: none; visibility: hidden;}

	#mainNav { display: none;}

	.js #trapNav {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}

	.eachProd {
		margin-bottom: 20px
	}

	ul.slicknav_nav ul.dropdown-menu {
		position: static;
		width: 100%;
	}

	.slicknav_nav .slicknav_item .dropdown-toggle,
	.slicknav_nav .contact {
		text-transform: uppercase;
	}

	ul.slicknav_nav li.home { 
		display: none;
		visibility: hidden;
	}

	li.slicknav_parent .dropdown-menu {
		border: none;
		border-radius: 0;
		box-shadow: none;
	}

	.list-content .col-xs-4 {
		padding-left: 0;
	}

	.list-content .nav > li > a { border: none;}

	.nav-tabs > li.active > a { color: #ed1c24;}
	
	.list-content .tab-content {
		padding: 10px 0 0 0;
		color: #363636;
	}

	#header { margin-bottom: 20px;}

	.list-content.not-toy .list-item li:after { top: 12px;}

	.phone img { margin-left: 0;}

	.shop { text-align: left;}
}

@media (max-width: 568px) {
	.wrap-form-consult .btn-hy { margin-bottom: 20px;}
}
@media (max-width: 414px) {
	.btn-compare { float: left;}
	.sp-header ul li:after {
		padding: 0 0 0 5px;
	}
	.sp-header ul li { padding: 0;}
}


@media (min-width: 768px) {
   .col-sm-20 {
      width: 20%;
      float: left;
   }
}
@media (min-width: 992px) {
   .col-md-20 {
      width: 20%;
      float: left;
   }
}
@media (min-width: 1200px) {
   .col-lg-20 {
      width: 20%;
      float: left;
   }
}